.container{
    margin: 0 auto;
    text-align: center;

}
.alice {
    position: absolute;
    margin-left: 30%;
    overflow: hidden;
    width: 350px;
    height: 300;
  }
  
  .alice:before {
      content: " ";
      display: block;
      padding-top: 87%;
  }
  
  .alice img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;  
  }