.wallpaper{
        /* border: 1px solid black; */
        background-image: url("https://ak.picdn.net/shutterstock/videos/11381228/thumb/1.jpg"); /* The image used */
        height: 100vh; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        overflow: hidden;
}
.alice{
        bottom: 0;
        margin-bottom: 28px;


}