.container{
    width: 150%;
    margin-top: 90px;
}
.mountain{
    width: 120px;
    height: 90px;
    margin-left: 30%;
}
.house{
    width: 100px;
    height: 100px;
}
.tree1, .tree2, .tree3{
    width: 100px;
    height: 100px;
}
.tree1{
    margin: 0% 30px;
}
.tree2{
    margin-left: 300px;
}
.house2{
    width: 100px;
    height: 60px;
}
.tree3{
        margin-left: 300px;
}